saveSettings.json
**/node_modules/
Mini-Projects/Builder Timer/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# test coverage
coverage/
**/coverage/

# Next.js build output
.next/
**/.next/
out/
**/out/

# generic build output
build/
**/build/

# env files
.env*

# deployment/platform
.vercel/

# TypeScript cache
*.tsbuildinfo