:root {
  --primary-green: #8beb85;
  --text-dark: #0c120b;
  --bg-white: #ffffff;
  --bg-light: #f2f2f2;
  --gray-medium: #acacac;
  --gray-muted: #6c6f6c;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: bold;
  color: var(--primary-green);
  border-bottom: 1px solid var(--gray-muted);
  padding-bottom: 10px;
}

.new-task--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px 7px;
  border: 2px solid var(--gray-medium);
  border-radius: 5px;
  font-size: 16px;

  transition: all 0.3s ease;
}

input[type="text"]:focus {
  border-color: var(--primary-green);
  outline: none;
}

#add-task-button {
  padding: 6px 12px;
  background-color: var(--primary-green);
  border: none;
  border-radius: 5px;
  color: var(--text-dark);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-task-button:hover {
  background-color: #76d66f;
}

.my-tasks {
  margin-top: 30px;
  text-align: center;
}

.my-tasks--header {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-dark);
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#clear-tasks-button {
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  background-color: #ff3333;
  color: var(--bg-white);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#clear-tasks-button:hover {
  background-color: #e62e2e;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.modal-content {
  background-color: var(--bg-white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content p {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-dark);
}

.modal-content button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: var(--text-dark);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#confirm-clear-button {
  background-color: #ff3333;
  color: var(--bg-white);
  margin-right: 10px;
}
#confirm-clear-button:hover {
  background-color: #e62e2e;
}
#cancel-clear-button {
  background-color: var(--gray-medium);
  color: var(--bg-white);
}
#cancel-clear-button:hover {
  background-color: #9e9e9e;
}

.todo-list {
  list-style-type: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 8px;
}

.todo-list li {
  padding: 10px 0;
  border-bottom: 1px solid var(--bg-light);
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-list li:last-child {
  border-bottom: none;
}

input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 2px solid #84fb7c;
  border-radius: 3px;
  background-color: transparent;
  position: relative;
  transition: all 0.3s ease;
}

li.completed input[type="checkbox"] {
  background-color: var(--primary-green);
}

li.completed input[type="checkbox"]::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--text-dark);
  font-size: 14px;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  color: var(--text-dark);
  user-select: none;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--text-dark);
  transform: translateY(-50%);
  transition: width 0.3s ease;
}

li.completed input[type="checkbox"] + label::before {
  width: 100%;
}

li.completed input[type="checkbox"] + label {
  color: var(--gray-muted);
}

.delete-task {
  margin-left: auto;
  background-color: transparent;
  border: 1px solid var(--primary-green);
  border-radius: 5px;
  padding: 10px 10px;
  color: var(--gray-muted);
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
}

.delete-task:hover {
  color: var(--text-dark);
}

.delete-task span {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
